[submodule "simulation"]
	path = simulation
	url = ../INF3995-simulation
	branch = main
[submodule "station"]
	path = backend
	url = ../INF3995-station
	branch = main
[submodule "INF3995-firmware"]
	path = firmware
	url = ../INF3995-firmware
	branch = main
