[submodule "INF3995-argos-simulation"]
	path = simulation
	url = ../INF3995-argos-simulation.git
	branch = master
[submodule "INF3995-backend"]
	path = backend
	url = ../INF3995-backend.git
	branch = main
[submodule "INF3995-firmware"]
	path = firmware
	url = ../INF3995-firmware.git
	branch = master
